{% extends 'base.html' %}


{% block content %}
    <p>
        <h3>{{question.title}}</h3>
    </p>
    <form method="POST" action="{% url 'single_poll' question.id %}">
        {% csrf_token %}
    {% for choice in question.choices %}
        <div class="radio">
            <label>
                <input type="radio" name="answer" value="{{choice.id}}">
                {{choice.text}}
            </label>
        </div>
    {% empty %}
        <p>There is no chice available for this question.</p>
    {% endfor %}
        <button class="btn btn-dark" type="submit" value="Vote">Vote</button>
    </form>
{% endblock content %}